#################
## Misc
#################
**/.DS_Store
nbproject
manifest.mf
build.xml
node_modules/*
samples/express/node_modules/*
npm-debug.log
*.d.ts
tests
examples
.github
coverage
*.metadata.json
bundles
dist

#################
## JetBrains
#################
.idea
.project
.settings

############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

############
## Mac
############

# Mac crap
.DS_Store

# vscode
.vscode

# dev test module
test.ts

# node_modules
node_modules
sample/node_modules