language: go
 
go:
  - 1.13

addons:
  sonarcloud:
    organization: $SONAR_ORG
    token:
      secure: $SONAR_TOKEN

install:
  - echo "install"
 
jobs:
  fast_finish: true
  include:
    - stage: Unit Test
      script:
        - go build
        - go test
    - stage: Code Scan
      script:
        - go test -json > report.json
        - go test -coverprofile=coverage.out
        - sonar-scanner -Dsonar.sources=. -Dsonar.exclusions=**/testdata/**/*,**/*_test.go -Dsonar.coverage.exclusions=**/testdata/**/*,**/*_test.go -Dsonar.projectName=$SONAR_ORG-singleton-go-client-$TRAVIS_BRANCH -Dsonar.branch.name=master -Dsonar.projectKey=$SONAR_ORG-singleton-go-client-$TRAVIS_BRANCH -Dsonar.host.url=https://sonarcloud.io -Dsonar.organization=$SONAR_ORG -Dsonar.login=$SONAR_TOKEN -Dsonar.go.tests.reportPaths=./report.json -Dsonar.go.coverage.reportPaths=./coverage.out
    - stage: Smoke Test
      script:
        true


