os: windows
language: shell

env:
  SH: powershell
  PROJECT_NAME: singletonclient
  SOLUTION: SingletonClient.sln

before_install:
before_install:
- |
    git diff --name-only $TRAVIS_COMMIT_RANGE | grep -qvE '(\.md$)|(^(docs|g11n-ws/docs))/' || {
      echo "Only docs were updated, stopping build process."
      exit
    }
    sudo apt-get -y install python3-pip python-dev
    python3 -V
    pip3 -V
    choco install -y nuget.commandline
    choco install -y sonarqube-scanner.portable
    choco install -y msbuild-sonarqube-runner

install:
  - cd $PROJECT_NAME
  - dir
  - nuget restore $SOLUTION
  - "powershell -Command dir env:"

jobs:
  fast_finish: true
  include:
    - stage: check header
      script:
        - git clone --branch=devops https://github.com/vmware/singleton.git devops
        - cp $TRAVIS_BUILD_DIR/devops/check_headers.py . && chmod +x check_headers.py
        - python3 ./check_headers.py -f "$(git diff --name-only --diff-filter=d $TRAVIS_COMMIT_RANGE)"
    - stage: Unit Test
      script:
        - dir
        - "powershell -Command msbuild consoleloggerparameters:ErrorsOnly maxcpucount nologo property:Configuration=Release verbosity:quiet $SOLUTION.sln"
        - powershell -Command "C:\Program Files (x86)\Microsoft Visual Studio 14.0\Common7\IDE\MSTest.exe" /testcontainer:%PROJECT_NAME%Tests.dll'
    - stage: Code Scan
      script:
        - git clone --branch=devops https://github.com/vmware/singleton.git devops
        - cd $TRAVIS_BUILD_DIR/devops/sonar/ && python ./config_sonar_project.py -ProjectName=$SONAR_ORG-singleton-csharp-client-$TRAVIS_BRANCH -ProjectKey=$SONAR_ORG-singleton-csharp-client-$TRAVIS_BRANCH -OrgKey=$SONAR_ORG -QualityGateName=csharp-client-gate -QualityGateConditions="./quality_gates/csharp-client.json" -SonarToken=$SONAR_TOKEN
        - cd $TRAVIS_BUILD_DIR && ./$SONARSCANNERINNER/bin/sonar-scanner -Dsonar.sources=. -Dsonar.projectName=$SONAR_ORG-singleton-csharp-client-$TRAVIS_BRANCH -Dsonar.branch.name=master -Dsonar.projectKey=$SONAR_ORG-singleton-csharp-client-$TRAVIS_BRANCH -Dsonar.host.url=https://sonarcloud.io -Dsonar.organization=$SONAR_ORG -Dsonar.login=$SONAR_TOKEN 
        - |
            git diff --name-only $TRAVIS_COMMIT_RANGE | grep -qvE '\.travis\.yml$' || {
              echo "No need to check sonar quality gate for only travis configuration updates"
              exit
            }
            cd $TRAVIS_BUILD_DIR/devops/sonar && sleep 5 && python3 ./check_sonar_qualitygate.py -ProjectKeyPrefixArray=$SONAR_ORG-singleton-go-client-$TRAVIS_BRANCH -HostName=https://sonarcloud.io
