language: go
 
go:
  - 1.13

python:
  - 3.4

before_install:
- |
    git diff --name-only $TRAVIS_COMMIT_RANGE | grep -qvE '\.md$' || {
      echo "Only docs were updated, stopping build process."
      exit
    }

install:
  - echo "install"
 
jobs:
  fast_finish: true
  include:
    - stage: check header
      script:
        - git clone --branch=devops https://github.com/vmware/singleton.git devops
        - cp $TRAVIS_BUILD_DIR/devops/check_headers.py . && chmod +x check_headers.py
        - python3 ./check_headers.py -f "$(git diff --name-only $TRAVIS_COMMIT_RANGE)"
    - stage: Unit Test
      script:
        - go build
        - go test
    - stage: Code Scan
      script:
        - SONARSCANNER='sonar-scanner-cli-4.0.0.1744-linux'
        - SONARSCANNERINNER='sonar-scanner-4.0.0.1744-linux'
        - wget https://binaries.sonarsource.com/Distribution/sonar-scanner-cli/$SONARSCANNER.zip
        - unzip $SONARSCANNER.zip
        - rm -f $SONARSCANNER.zip
        - go test -json > report.json
        - go test -coverprofile=coverage.out
        - ./$SONARSCANNERINNER/bin/sonar-scanner -Dsonar.sources=. -Dsonar.exclusions=**/testdata/**/*,**/$SONARSCANNERINNER/**/*,**/*_test.go -Dsonar.coverage.exclusions=**/testdata/**/*,**/$SONARSCANNERINNER/**/*,**/*_test.go -Dsonar.projectName=$SONAR_ORG-singleton-go-client-$TRAVIS_BRANCH -Dsonar.branch.name=master -Dsonar.projectKey=$SONAR_ORG-singleton-go-client-$TRAVIS_BRANCH -Dsonar.host.url=https://sonarcloud.io -Dsonar.organization=$SONAR_ORG -Dsonar.login=$SONAR_TOKEN -Dsonar.go.tests.reportPaths=./report.json -Dsonar.go.coverage.reportPaths=./coverage.out
    - stage: Smoke Test
      script:
        true


