/* You can add global styles to this file, and also import other style files */
.table_style,
.table_style td,
.table_style tr{
    border:1px solid #ddd;
    border-collapse: collapse;
    border-spacing: 0;
}
.table_style tr:first-child{
    font-weight:700;
}
.table_style tr{
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.table_style td{
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
}
.table_style{
    margin: 0 auto;
}
.container p { text-align: center; }
