<div class="content-area">
    <router-outlet></router-outlet>
</div>

<nav class="sidenav">
    <section class="sidenav-content">
        <a routerLink="date" routerLinkActive="active" class="nav-link">
            Date Format
        </a>
        <a routerLink="number" routerLinkActive="active" class="nav-link">
            Number Format
        </a>
        <a routerLink="currencies" routerLinkActive="active" class="nav-link">
            Currency Format
        </a>
        <a routerLink="percent" routerLinkActive="active" class="nav-link">
            Percent Format
        </a>
        <a routerLink="service" routerLinkActive="active" class="nav-link">
            I18n Service
        </a>
    </section>
</nav>