!!!
%html
  %head
    %meta{:content => "text/html; charset=ISO-8859-1", "http-equiv" => "Content-Type"}/
    %title Singleton Client API Samples
    :css
      .imagelink {
      	padding: 5px 0px 5px 28px;
      }

      .execute {
      	background: url('images/play_button.png') no-repeat left top;
      }

      .source {
      	background: url('images/edt-format-source-button.png') no-repeat left
      		top;
      }

      .header {
        font-weight: bold;
      }

      .header td {
        padding: 10px 0px 10px 0px;
      }
  %body
    %center
      %h3 Singleton Client API Samples
    %br/
    %br/
    %table{:cellspacing => "5", :width => "85%"}
      %tbody
        