<?xml version="1.0" encoding="utf-8"?>
<!--
  Copyright 2019-2020 VMware, Inc.
  SPDX-License-Identifier: EPL-2.0
-->
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="java client">
    <listeners>
        <listener class-name="com.vmware.g11n.log.ExceptionListener" />
        <listener class-name="com.vmware.vip.test.common.listener.CustomAnnotationListener" />
    </listeners>
	<test name="java client test" preserve-order="true">
	    <groups>
	        <run>
                <exclude name="isolate"/>
		    </run>
	    </groups>
		<classes>
				<!--<class name="com.vmware.vip.test.javaclient.init.InitTest" />-->
				<class name="com.vmware.vip.test.javaclient.level2.CurrencyTest" />
				<class name="com.vmware.vip.test.javaclient.level2.DateFormatTest" />
				<class name="com.vmware.vip.test.javaclient.level2.NumberFormatTest" />
				<class name="com.vmware.vip.test.javaclient.level2.PluralTest" />
				<class name="com.vmware.vip.test.javaclient.level2.SetLocaleTest" />
				<class name="com.vmware.vip.test.javaclient.level2.SetLocaleTestMultiThread" />
				<class name="com.vmware.vip.test.javaclient.httprequester.CustomizeHeader" />
				<class name="com.vmware.vip.test.javaclient.cache.InitCacheTest" />
				<class name="com.vmware.vip.test.javaclient.init.InitMultipleTimesTest" />
				<class name="com.vmware.vip.test.javaclient.cache.CacheExpiredTest" />
        </classes>	   
	</test>
</suite>
